body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.3em;

}


p {
    margin-bottom: 1.6em;
    
}

.name {
    text-align: center;
}

.container {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
    
}

.header {
    background-color: rgb(112, 112, 112);
    color: white;
    padding: -1rem;
    transition: 2s;
    font-size: small;
    /* border-radius: 5%; */
    float: inline-end;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

header.abajo {
    background: #333;
    padding: 15px 20px;
    transition: 3s;
} 

.logo {
    letter-spacing: 15px;
    font-size: 1.4em;
}

.menu {
    display: none;
}

.img {
    height: 20rem;
    width: 20rem;
    display: block;
    margin: auto;
    
}
/* .hab {
    height: 20rem;
    width: 20rem;
    display: block;
    margin: auto;
} */

.menu-icon {
    display: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    border-radius: 10px;
}

.navigation ul li a:hover {
    background: rgb(65, 64, 64);
}

main {
    padding: 8rem;
    background-color: #f2f2f2;
    
}

.footer {
    background: #333;
    color: white;
    padding: 2rem 0;
    text-align: center;
    margin-top: 6rem;
}

/* Estilos para la función a partir de que se muestra el icono */
@media only screen and (max-width: 765px) {

    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .navigation {
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul {
        display: none;
    }

    .navigation ul.show {
        display: block;
    }

    .navigation ul li {
        display: block;
    }
    
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.3s linear;
        border-radius: 10px;
    }
    
    .navigation ul li a:hover {
        background: rgb(65, 64, 64);
    }
    
}